.app-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    color: #FFFFFF;
}

.spinner-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;

    img {
        height: 100px;
        width: 100px;
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

input,
textarea {
    border: none;
    height: 100%;
    background-color: #2C2C2E;

    &:focus {
        outline: none;

    }
}

.input {

    border: none;
    height: 100%;
    background-color: #2C2C2E;

    &:focus {
        outline: none;

    }
}

button {
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

@media(max-width: 500px) {
    .app-container {
        // width: fit-content;
        overflow-x: scroll;
    }
}

$primary: #34C759;


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}

@import "./contactlist.scss";
@import "./searchbar.scss";
@import "./chatarea.scss";
@import "./login.scss";
@import "./searcharea.scss";