.chat-area-container {
    width: 100%;
    min-height: 100vh;
    position: relative;

    .chat-area-header {
        .back-btn {
            display: none;
            margin-right: 10px;

            img {
                width: 25px !important;

            }
        }

        height: 70px;
        width: 100%;
        position: sticky;
        background-color: #161616;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;

        .contact-details {
            display: flex;

            .contact-avatar {
                display: flex;
                align-items: center;
                position: relative;
                margin-right: 20px;

                img {
                    margin: 0;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }

                .online-status {
                    // display: none;
                    font-size: 50px;
                    margin: 0;
                    height: fit-content;
                    position: absolute;
                    right: -6px;
                    bottom: -10px;
                    color: #34C759;
                }
            }

        }

        .display-name {
            font-size: 16px;
        }

        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 10%;

            .dot-icon {
                justify-self: flex-end;

                img {
                    width: 20px;
                }
            }
        }


    }

    .chat-messages {
        width: 100%;
        padding: 50px 100px;
        padding-bottom: 100px;
        height: fit-content;
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        
        @media(max-width: 500px){
            padding: 20px;
            height: calc(100vh - 140px);
        }
        .message-holder{
            width: 100%;
            height: fit-content;
            // position: relative;
        }
        .message {
            width: fit-content;
            min-width: 100px;
            max-width: 75%;
            padding: 10px 15px;
            padding-bottom: 20px;
            min-height: 46px;
            background-color: #155c27;
            // border-radius: 5px;
            border-radius: 5px;
            float: right;
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 16px;
            line-height: 20px;

            // &::before {
            //     content: ' ';
            //     position: absolute;
            //     width: 0;
            //     height: 0;
            //     left: -40px;
            //     right: auto;
            //     top: -8px;
            //     bottom: auto;
            //     border: 32px solid;
            //     border-color: #666 transparent transparent transparent;
            // }

            &::after {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                right: -10px;
                left: auto;
                top: 0px;
                bottom: auto;
                border: 15px solid;
                border-color: #155c27 transparent transparent transparent;
            }
        }
        
        .recieve {
            background-color: #333333;
            float: left;
            &::after {
                right: auto;
                left: -10px;
                border-color: #333333 transparent transparent transparent;
            }
        }
    }


    .chat-area-type {
        background-color: #161616;
        width: 100%;
        min-height: 70px;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 70%;
        border-top: 1px solid #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 500px) {
            width: 100%;
        }

        form {
            display: flex;
            width: 80%;
            justify-content: center;
        }

        input {
            height: 40px;
            width: 90%;
            border-radius: 20px;
            padding: 0 30px;
            color: #ffffff;
            font-size: 15px;
            word-break: break-word;
            white-space: pre;
        }

        .input {
            min-height: 40px;
            height: fit-content;
            width: 70%;
            max-width: 70%;
            border-radius: 20px;
            padding: 10px 30px;
            color: #ffffff;
            font-size: 15px;
            overflow-y: auto;
            overflow-wrap: break-word;
        }

        .send-btn {
            background: none;
            display: flex;
            align-items: center;

            img {
                height: 20px;
                width: 20px;
                transform: rotate(45deg);
            }
        }

    }
}

@media(max-width: 500px) {
    .chat-area-container {
        width: 100%;
        height: 100vh;
        max-height: 100vh;

        .chat-area-header {
            padding-left: 15px;

            .back-btn {
                display: inline;
            }

            .icons {
                width: 20%;
            }
        }
    }
}