.contact-list-container {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    border-right: 1px solid #333333;
    display: flex;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;

    .contact-list {
        max-width: 30%;
        min-width: 30%;
        border-right: 1px solid #333333;
        height: inherit;

        .searchbar-holder {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        .user-details {
            height: 70px;
            background-color: #161616;


            display: flex;
            align-items: center;
            border-bottom: 1px solid #333333;
            padding: 0 15px;
            position: sticky;
            top: 0;
            z-index: 20;

            p {
                font-size: 20px;
                margin: 0;
                margin-left: 20px;
                text-transform: capitalize;
            }

            .online-status {
                font-size: 50px;
                margin: 0;
                height: fit-content;
                position: absolute;
                right: -3px;
                bottom: -9px;
                color: #34C759;
            }
        }
    }

    .content {
        z-index: 200;
        min-width: 70%;
        position: sticky;
        top: 0;
        // left: 30%;
        height: inherit;
        max-height: 100vh;
        border-bottom: 1px solid #333333;
        background: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.9)), url('../public/assets/chat-bg.jpg');
    }





    .contact-item {
        padding: 0 15px;
        border-right: 1px solid #333333;
        min-height: 75px;
        width: 100%;
        display: flex;
        border-bottom: 3px solid #333;
        // background-color: #111;
        cursor: pointer;




        .contact-name {
            padding: 15px 0;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            width: 55%;

            p {
                margin: 0;
            }

            .display-name {
                font-size: 20px;
                text-transform: capitalize;
            }

            .last-message {
                font-size: 14px;
                color: #8D8D8D;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }

        .date {
            padding: 15px 0;
            margin-left: auto;

            .last-message-date {
                margin: 0;
                font-size: 10px;
                color: #34C759;
            }
        }
    }
}

.contact-avatar {
    display: flex;
    align-items: center;
    position: relative;

    .status-ring {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #34C759;

        img {
            margin: 0;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }
    }

    .no-status {
        border: none;
    }




}

.online-status {
    // display: none;
    font-size: 50px;
    margin: 0;
    height: fit-content;
    position: absolute;
    right: -4px;
    bottom: -4px;
    color: #34C759;
}

@media(max-width: 500px) {
    .contact-list-container {
        width: 100%;
        max-width: 100%;

        // padding-top: 70px;
        .contact-list {
            width: 100vw;
            max-width: 100vw;
            opacity: 1;
            transition: opacity .2s linear;
        }

        .content {
            position: fixed;
            width: 100vw;
            transform: translateX(100vw);
            transition: transform .2s linear;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: #333333;
    }
}

.contact-loading {
    text-align: center;
    margin-top: 150px;
    z-index: 200;

    span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 50px auto;
        background: $primary;
        border-radius: 50px;
        -webkit-animation: loader 0.9s infinite alternate;
        animation: loader 0.9s infinite alternate;
    }
    span:nth-of-type(2) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    span:nth-of-type(3) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
}

@keyframes loader {
    0% {
      width: 10px;
      height: 10px;
      opacity: 0.9;
      -webkit-transform: translateY(0);
    }
    100% {
      width: 24px;
      height: 24px;
      opacity: 0.1;
      -webkit-transform: translateY(-21px);
    }
  }
@-moz-keyframes loader {
    0% {
      width: 10px;
      height: 10px;
      opacity: 0.9;
      -moz-transform: translateY(0);
    }
    100% {
      width: 24px;
      height: 24px;
      opacity: 0.1;
      -moz-transform: translateY(-21px);
    }
  }