.search-bar-holder{
    min-height: 70px;
    width: 100%;
    // border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: sticky;
    padding: 0 10px;
    top: 70px;
    z-index: 0;
    // padding-top: 70px;
    // padding-bottom: 20px;
    background-color: #161616;

    .user-details{
        border-bottom: unset !important;
        padding: unset !important;
    }
    .search{
        display: flex;
        align-items: center;
        // padding: 0 20px;
        // border: 1px solid #333333;
        width: fit-content;
        height: 70%;
        // border-radius: 20px;
        
        input{
            height: 40px;
            margin-left: 20px;
            width: 100%;
            color: #ffffff;
            font-size: 15px;
        }
    }
    img{
        width: 20px;
        cursor: pointer;
    }
    .dropdown{
        width: 150px;
        
        border: 1px solid #333333;
        background: #353538;
        position: fixed;
        top: 60px;
        left: 18%;
        
        div{
            width: 100%;
            cursor: pointer;
            padding: 10px;
        }
    }
}
@media(max-width: 500px){
    .search-bar-holder{
        width: 100%;
        min-height: 50px;
        padding: 0px 10px;

        .search{
            input{
                height: 35px;
            }
        }

        .dropdown{
            left: unset;
            right: 0;
        }
    }
}