.search-bar-holder{
    min-height: 70px;
    width: 100%;
    // border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 0;
    // padding-top: 70px;
    // padding-bottom: 20px;
    background-color: #161616;


    .search{
        display: flex;
        align-items: center;
        padding: 0 20px;
        border: 1px solid #333333;
        width: 90%;
        height: 70%;
        border-radius: 20px;
        background-color: #2C2C2E;
        input{
            height: 40px;
            margin-left: 20px;
            width: 100%;
            color: #ffffff;
            font-size: 15px;
        }
    }
}
@media(max-width: 500px){
    .search-bar-holder{
        width: 100%;
        min-height: 50px;
        padding-top: 30px;
        .search{
            input{
                height: 35px;
            }
        }
    }
}